* text=auto eol=lf

/.github export-ignore
/tests export-ignore
/.env.testing export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CLAUDE.md export-ignore
/phpunit.xml export-ignore
/pest.config.php export-ignore
/composer.lock export-ignore
